.GameBoard {
    display: flex;
    grid-template-columns: repeat(13);
    grid-template-rows: 50px 50px;
    align-items: center;
	justify-content: center;
    
}

.Container {
    align-items: center;
	justify-content: center;
    display: flex;
}